<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMate</title>
    <%- include('./partials/head') %>
    <script>
        const boton = document.querySelectorAll('.slider-button');
        boton.onclick = (e) => e.preventDefault();
    </script>
</head>

<body>

    <header>
        <%- include('./partials/navbar') %>
        <style> .search-nav {display: none;}</style>

        <div class="fondo-inicio">
            <form action="" method="get" class="search-bar" id="form-search" >
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" id="main-search" placeholder="Que estas buscando?...">
                <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
                <ul id="main-search-result"></ul>
            </form>
        </div>
        
    </header>
    <main>
        <section class="product-container">

            <div class="product-container-header">
                <h2>Próximos Eventos</h2>
                <div class="slider-nav-container">
                    <span>Páginas </span>
                    <div class="slider-nav">
                        <a class="slider-button" href="#slide-1">1</a>
                        <a class="slider-button" href="#slide-2">2</a>
                        <a class="slider-button" href="#slide-3">3</a>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="scroller-wrapper snap-scroll">
                <% for( let i = 0; i <= 8; i++ ) { %>
                    <div class="scroller-element">
                        <a href="/events/<%= events[i].id %>">
                            <img src="/img/events/<%= events[i].image %>" alt="">
                            <div class="scroller-content">
                                <div class="content-left">
                                    <span class="date-day">
                                        <% let eventDay = (new Date(events[i].date)).toLocaleDateString("es-AR", { day: "numeric" })%>
                                        <%= eventDay %>
                                    </span>
                                    <span class="date-month">
                                        <% let eventMonth = (new Date(events[i].date)).toLocaleDateString("es-AR", { month: "short" })%>
                                        <%= eventMonth %>
                                    </span>
                                </div>
                                <div class="content-right">
                                    <p class="event-name"><%= events[i].name %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>  
            </div>

            <div class="slider-wrapper">
                <div class="slider">
                    
                    <div class="slider-group" id="slide-1">
                        <% for( let i = 0; i <= 2; i++ ) { %>
                            <div class="slider-element">
                                <a href="/events/<%= events[i].id %>">
                                    <img src="/img/events/<%= events[i].image %>" alt="">
                                    <div class="slider-content">
                                        <div>
                                            <div class="content-left">
                                                <span class="date-day">
                                                    <% let eventDay = (new Date(events[i].date)).toLocaleDateString("es-AR", { day: "numeric" })%>
                                                    <%= eventDay %>
                                                </span>
                                                <span class="date-month">
                                                    <% let eventMonth = (new Date(events[i].date)).toLocaleDateString("es-AR", { month: "short" })%>
                                                    <%= eventMonth %>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="event-name"><%= events[i].name %></span>
                                    </div>
                                </a>
                            </div>
                        <% } %>       
                    </div>
                    <div class="slider-group" id="slide-2">
                        <% for( let i = 3; i <= 5; i++ ) { %>
                            <div class="slider-element">
                                <a href="/events/<%= events[i].id %>">
                                    <img src="/img/events/<%= events[i].image %>" alt="">
                                    <div class="slider-content">
                                        <div>
                                            <div class="content-left">
                                                <span class="date-day">
                                                    <% let eventDay = (new Date(events[i].date)).toLocaleDateString("es-AR", { day: "numeric" })%>
                                                    <%= eventDay %>
                                                </span>
                                                <span class="date-month">
                                                    <% let eventMonth = (new Date(events[i].date)).toLocaleDateString("es-AR", { month: "short" })%>
                                                    <%= eventMonth %>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="event-name"><%= events[i].name %></span>
                                    </div>
                                </a>
                            </div>
                        <% } %>   
                    </div>
                    <div class="slider-group" id="slide-3">
                        <% for( let i = 6; i <= 8; i++ ) { %>
                            <div class="slider-element">
                                <a href="/events/<%= events[i].id %>">
                                    <img src="/img/events/<%= events[i].image %>" alt="">
                                    <div class="slider-content">
                                        <div>
                                            <div class="content-left">
                                                <span class="date-day">
                                                    <% let eventDay = (new Date(events[i].date)).toLocaleDateString("es-AR", { day: "numeric" })%>
                                                    <%= eventDay %>
                                                </span>
                                                <span class="date-month">
                                                    <% let eventMonth = (new Date(events[i].date)).toLocaleDateString("es-AR", { month: "short" })%>
                                                    <%= eventMonth %>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="event-name"><%= events[i].name %></span>
                                    </div>
                                </a>
                            </div>
                        <% } %>  
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-cont">
            <div class="footer-column">
                <h3>Titulo</h3>
                <div class="footer-links">
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">
                <h3>Titulo</h3>
                <div class="footer-links">
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">
                <h3>Titulo</h3>
                <div class="footer-links">
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

    <script src="/js/search.js"></script>

</html>