<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <nav>
        <a href="/">
            <img id="logo" src="/img/logo-ticketmate.svg">
        </a>
        <form action="/search" method="get" class="search-bar search-nav">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="buscador1" type="text" placeholder="Que estas buscando?...">
            <button type="reset"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
        </form>
            <div id="nav-links-icons">
                <ul class="nav-bar">
                    <li><a class="nav-link" href="contact">Contacto</a></li>
                    <li><a class="nav-link" href="tickets">Tickets</a></li>
                    <li><a class="nav-link" href="">Horarios</a></li>
                    <!-- <li>Carrito</li> -->
                    <li><a class="nav-link" href="/login">Log in</a></li>
                </ul>
                <div class="container-cart-user">
                    <a class="boton-cart" href="/cart">
                        <div id="logo-cart"><i class="fa-solid fa-basket-shopping"></i></div>
                    </a>
                    <a class="boton-login" href="/login">
                        <div id="logo-user"><i class="fa-solid fa-user"></i></div>
                    </a>
                </div>
            </div>
            <div class="burgerMenu-SearchBar">
                <span id="openSearchButton" style="cursor:pointer; margin-right: 10px;" onclick="openSearch()"><div class="logo-search"><i class="bars-desplegable fa-solid fa-search"></i></div></span>
                <span id="openNavButton" style="cursor:pointer" onclick="openNav()"><div class="logo-hamburguer"><i class="bars-desplegable fa-solid fa-bars"></i></div></span>
            </div>
        </nav>
    </head>
    <div class="fondo-inicio"> 
    </div>
    <main>
        <!-- NavBar Desplegable comienzo-->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><div class="logo-x"><i class="fa-solid fa-xmark"></i></div></a>
            <div class="overlay-content">
                <a href="login">Log in</a>
                <a href="cart">Carrito</a>
                <a href="#">Horarios</a>
                <a href="#">Tickets</a>
                <a href="#contact">Contacto</a>
            </div>
        </div>
        <!-- NavBar Desplegable final-->
        <!-- SearchNav-->
        <%- include('./partials/searchButtonNav') %>
        <!-- SearchNav-->
    <section id="pantalla-dividida">
    <div class="izquierda">
        <div class="profile-picture">
            <img src="/img/events/<%=event.image%>" alt="">
            <div class="edit-delete-event">
                <a href="/events/<%= event.id %>/edit">Editar</a>
                <form class="delete-event" action="/events/<%= event.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <input type="submit" name="delete" value="Eliminar" onclick="return confirm('Confirm, please.');">
                </form>
            </div>   
        </div>
 
        <p class="profile-name"><%= event.name %></p>
        <p class="profile-subtitle">Entradas restantes: <%= event.stock %></p>
        <p class="fechas">Fechas</p>
        <hr>
        <div class="collapsible-wrapper">
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-1">
                <div class="collapsible-header">
                    <label for="event-1" class="collapsible-label"><!-- IMPORTANTE: el "for" del label y el "id" del input checkbox deben coincidir en cada elemento -->
                        <span class="event-date"><%= event.date %></span>
                        <span class="event-name"><%= event.name %></span>
                        <span class="precio">Desde $<%= event.price %></span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content"> 
                    <div>                 
                    <p><%= event.time %></p>
                    <p><%= event.description %></p>                                          
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-2">
                <div class="collapsible-header">
                    <label for="event-2" class="collapsible-label"><!-- IMPORTANTE: el "for" del label y el "id" del input checkbox deben coincidir en cada elemento -->
                        <span class="event-date"><%= event.date %></span>
                        <span class="event-name"><%= event.name %></span>
                        <span class="precio">Desde $<%= event.price %></span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content"> 
                    <div>                 
                    <p><%= event.time %></p>
                    <p><%= event.description %></p>                                          
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <input type="checkbox" name="events-collapsible" id="event-3">
                <div class="collapsible-header">
                    <label for="event-3" class="collapsible-label"><!-- IMPORTANTE: el "for" del label y el "id" del input checkbox deben coincidir en cada elemento -->
                        <span class="event-date"><%= event.date %></span>
                        <span class="event-name"><%= event.name %></span>
                        <span class="precio">Desde $<%= event.price %></span>
                    </label>
                    <i class="icono fa-solid fa-caret-down" style="color: #ffffff;"></i>
                </div>
                <div class="collapsible-content"> 
                    <div>                 
                    <p><%= event.time %></p>
                    <p><%= event.description %></p>                                          
                    </div>
                    <div class="boton">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <div class="derecha">
    <img src="/img/banda-placeholder4.jpg" alt="">
    </div>

    </section>

    </main>
    
</body>
</html>