<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/events.css">
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
        <div class="fondo-inicio"> 
            <!-- SearchNav-->
            <%- include('./partials/searchButtonNav') %>
            <!-- SearchNav-->
    </header>
    <main>
            
             <% if (locals.userLogged) { %>
                <% if (locals.userLogged.admin === 1) { %>
                    <div class="event-container">
                        <div class="img-a-container">  
                            <a class="img-create" href="/events/create"><img src="/img/add-event.png%>" style="border:none; box-shadow: none"></a>
                        </div>
                    </div>  
                <% } %>
             <% } %>

            <% events.forEach(element => { %>
                <div class="event-container">
                    <div class="img-a-container">
                        <img src="/img/events/<%=element.image%>" width="100px">
                        <a href="/events/<%= element.id %>">
                            <button>Ver detalle</button>
                        </a>
                    </div>
                    <article>
                        <h2><%= element.name %></h2>
                        <p>$<%= element.price %></p>
                        <p><%= element.stock %></p>
                        <p><%= element.date %></p>
                        <p><%= element.category %></p>
                        <p><%= element.description %></p>
                    </article>
                </div>         
            <% }); %>
    </main>    
</body>
</html>