<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Event</title>
        <%- include('./partials/head') %>
            <link rel="stylesheet" href="/css/create.css">
            <script src="../js/imgPreview.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <%- include('./partials/navbar') %>
            <div class="fondo-inicio">
                <!-- SearchNav-->
                <%- include('./partials/searchButtonNav') %>
                    <!-- SearchNav-->
    </header>
    <main>
        <div class="create-form-container">
            <form class="create-form" action="/events/" method="POST" enctype="multipart/form-data">
                <div class="errores">
                    <p>
                        <%= locals.errors.nameError %>
                    </p>
                    <p>
                        <%= locals.errors.priceError %>
                    </p>
                    <p>
                        <%= locals.errors.stockError %>
                    </p>
                    <p>
                        <%= locals.errors.dateError %>
                    </p>
                    <p>
                        <%= locals.errors.timeError %>
                    </p>
                </div>
                <div class="control-formulario">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" value="<%= locals.errors.oldname %>">
                </div>
                <div class="control-formulario">
                    <label for="price">Precio</label>
                    <input type="number" name="price" value="<%= locals.errors.oldprice %>">
                </div>
                <div class="control-formulario">
                    <label for="stock">Precio</label>
                    <input type="number" name="stock" value="<%= /* locals.errors. */ %>">
                </div>
                <div class="control-formulario">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" value="<%= locals.errors.oldstock %>">
                </div>
                <div class="control-formulario">
                    <label for="date">Fecha</label>
                    <input type="date" format="dd/mm/yyyy" name="date" value="<%= locals.errors.olddate %>">
                </div>
                <div class="control-formulario">
                    <label for="time">Horario</label>
                    <input type="time" name="time" value="<%= locals.errors.oldtime %>">
                </div>
                <div class="control-formulario">
                    <label for="category">Categoría</label>
                    <select name="category">

                        <% for (category of categories) { %>
                            <option value="<%= category.id %>" <% if( locals.errors.oldcategory==category) { %>
                                selected
                                <% } %>>
                                <%= category.name %>
                            </option>
                        <% } %>

                    </select>
                    </div>
                    <div class="control-formulario">
                    <label for="event-image">Imágen</label>
                    <div class="img-select">
                    <img class="img-profile" id="imgProd" src="/img/events/placeholder.jpg">
                    <label for="event-image" class="event-image-label">Select file</label>
                    <input type="file" class="input-file" style="display:none;" id="event-image" name="image" onchange="loadFile(event)">
                    </div>
                    </div>
                    <div class="control-formulario">
                    <label for="description">Descripción</label>
                    <textarea name="description" cols="30" rows="10"><%= locals.errors.olddescription %></textarea>
                    </div>
                    <button type="submit" class="boton-formulario">Publicar</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </form>
            </div>
        </main> 
    </body>
</html>