<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Event</title>
    <% const categories = ['concert','sports-event','misc'] %>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/create.css">
</head>
    <body>
        <header>
                <%- include('./partials/navbar') %>
                <div class="fondo-inicio"> 
                <!-- SearchNav-->
                <%- include('./partials/searchButtonNav') %>
                <!-- SearchNav-->
        </header>
        <main>
                <form class="create-product" action="/events/" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" value="<%= locals.errors.oldname %>">

                    <label for="price">Precio</label>
                    <input type="number" name="price" value="<%= locals.errors.oldprice %>">


                    <label for="stock">Stock</label>
                    <input type="number" name="stock" value="<%= locals.errors.oldstock %>">

                    <label for="date">Fecha</label>
                    <input type="date" format="dd/mm/yyyy" name="date" value="<%= locals.errors.olddate %>">
                    <select name="category">
                        
                        <% for (category of categories) { %>
                            <option value="<%= category %>" <% if( locals.errors.oldcategory == category) { %>
                                    selected 
                                <% } %>> 
                                <%= category.replace('-',' ').split(' ').map(word=>word[0].toUpperCase()+word.substring(1)).join(' ') %> 
                            </option>
                        <% } %>

                    </select>
                    <input type="time" name="time" value="<%= locals.errors.oldtime %>">
                    <input type="file" class="input-file" name="event-image">
                    <textarea name="description" cols="30" rows="10"><%= locals.errors.olddescription %></textarea>
                    <button type="submit" class="boton-formulario">Enviar</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </form>
                <div>
                    <p><%= locals.errors.nameError %></p>
                    <p><%= locals.errors.priceError %></p>
                    <p><%= locals.errors.stockError %></p>
                    <p><%= locals.errors.dateError %></p>
                    <p><%= locals.errors.timeError %></p>
                </div>
        </main> 
    </body>
</html>