<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
        <div class="fondo-inicio"> 
    </header>
    <main>
        <!-- SearchNav-->
        <%- include('./partials/searchButtonNav') %>
        <!-- SearchNav-->

        <div class="img-description">
            <div class="profile-picture">
                <img src="/img/profile-pictures/<%=user.image%>" alt="">
            </div>
            <div class="user-description">
                <p class="username"><%= user.username %></p>
                <p class="user-real-name"><%= user.first_name + " " + user.last_name %></p>
            </div>
        </div>

        <div class="user-settings">
            <div class="user-settings-item">
                <p>Contraseña: *********</p>
                <a class="change" href="#">Cambiar</a>
            </div>
            <div class="user-settings-item">
                <p>Email: <%= user.email %></p>
                <a class="change" href="#">Cambiar</a>
            </div>
            <div class="user-settings-item">
                <% let createdAt = (new Date(user.created_at)).toLocaleDateString("es-AR", { 
                    year: "numeric", 
                    month: "numeric",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric"}) %> 
                <p>Usuario desde: <%= createdAt %>hs</p>
            </div>
            <% if (locals.userLogged && locals.userLogged.admin == 1) { %>   
                <div class="user-settings-item">
                    <p>Admin: <%= user.admin %></p>
                    <a class="change" href="#">Cambiar</a>
                </div>
            <% } %>
        </div>
    </main>
    
</body>
</html>